/*.header-border {
  border-style: solid;
  border-color: #96858F;
  border-width: 5px;
  border-radius: 10px;
  background-color: #9099A2;
  margin-bottom: 10px;
}*/

.my-name {
  font-size: 3.2em;
  font-weight: bold;
}

.my-title {
  margin-top: 0px;
  font-size: 2.8;
}

.heading-section {
  margin-top: 65px;
  font-family: 'Graduate', cursive;
}