.portfolio-border {
  background-color: #6D7993;
}

.portfolio-title {
  font-family: 'Graduate', cursive;
}

.swappaws {
  display: block;
  float: left;
}

.teamtracker {
  display: block;
  float: left;
}