.portfolio-border {
  background-color: #6D7993;
  margin-bottom: 50px;
}

.portfolio-links {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.portfolio-title {
  font-family: 'Graduate', cursive;
  font-size: 3.5em;
}

.swappaws {
  display: block;
  float: left;
  margin-bottom: 30px;
}

.teamtracker {
  display: block;
  float: left;
  margin-bottom: 30px;
}

.swappaws-description {
  display: inline-block;
}

.teamtracker-description {
  display: inline-block;
}