.mtrlz-tile {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

.ruby-tile {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: #eee;
}

.rails-tile {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: #eee;
}

.html5-tile {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: #eee;
}

.jquery-tile {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: #eee;
}

.rspec-tile {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: #eee;
}

.tech-tiles {
  
}

.tech-tiles div {
  float: left;
  margin: auto;
  padding-right: 75px; 
}

.tech-tiles p {
  font-size: .8em;
  text-align: center;
}

Tiles p {
  font-size: .8em;
}