.tile {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: #eee;
}

.tech-tiles {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tech-tiles p {
  font-size: .8em;
  text-align: center;
}

@media (max-width: 414px) {  
  .tech-tiles {
    margin-top: 15px;
    margin-left: -20px;
    margin-right: 20px;
  }

  .tile {
    margin-bottom: 20px;
  }
}