.swap-project {
  margin-top: 30px;
}

.description {
  font-size: 1.5em;
}

.description ul {
  list-style: none;
}

.description ul li:before {
  content: "\00BB \0020";
}

@media screen and (min-width: 376px) and (max-width: 414px) {  
  .portfolio-links {
    margin-left: 0;
  }

  .swap-project {
    margin-top: -20px;
  }

  .col-xs-12 {
    margin-top: 20px;
  }

  .description {
    margin-right: -40px;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {  
  .portfolio-links {
    margin-left: 0;
  }

  .swap-project {
    margin-top: -20px;
  }

  .col-xs-12 {
    margin-top: 20px;
  }

  .col-md-4.col-sm-12.col-xs-12 {
    margin-left: -40px;
  }

  .description {
    margin-right: -40px;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {  
  .portfolio-links {
    margin-left: 0;
  }

  .swap-project {
    margin-top: -20px;
  }

  .col-xs-12 {
    margin-top: 20px;
  }

  .col-md-4.col-sm-12.col-xs-12 {
    margin-left: -40px;
  }
  .col-md-7.col-md-push-1.col-sm-12.col-xs-12.col-xs-pull-2 {
    margin-left: 60px;
  }

  .description {
    margin-right: -40px;
  }
}